<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js" defer></script>
    <title> {{ title }}</title>
</head>
<body>
<div class="container">
    {{ include('components/navbar.html.twig') }}
    <!-- Content field for the content-->
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <div class="footer navbar-fixed-bottom">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="create">Create</button>
    </div>
</div>
</body>
</html>
