{% extends "template.php.twig" %}

{% block content %}
    <div class="error-wrapper">
        <div class="">
            <!--Go back button-->
            <button class="btn btn-lg btn-outline-success" onclick="history.go(-1);"> >Back </button>

            <!--Error message-->
            <div title="404" translate="no">404. PAGE NOT FOUND</div>
        </div>
    </div>
{% endblock %}

