{% extends "template.php.twig" %}

{% block content %}

    <div class="mt-5 col-xl-5 col-lg-5 col-md-8 col-sm-10 mx-auto">
        <h2 class="text-center">Create a new example</h2>
        <br>
        <form class="needs-validation" action="{{ route('example.store') }}" method="post">
            {{ method('PUT') }}
            <div class="mb-3">
                <label for="exampleName" id="exampleName"><b>Enter an Example Name:</b></label>
                <input type="text" class="form-control" name="title" placeholder="Enter Example Name" required>
                <br>

                <label for="exampleBodyHtml"><b>Example Body Html:</b></label>
                <textarea class="form-control" id="exampleBodyHtml" rows="3" name="BodyHtml"
                          placeholder="Enter Example Body Html" required></textarea>

                <br>

                <label for="exampleBodyMarkdown"><b>Example Body Markdown:</b></label>
                <textarea class="form-control" id="exampleBodyMarkdown" rows="3" name="BodyMarkdown"
                          placeholder="Enter Example Body Markdown" required></textarea>

                <br>
                <button class="btn btn-dark" onclick="history.go(-1);"> &#8592; Back</button>
                <input type="submit" class="btn btn-primary float-right" value="Submit &#8594;">
            </div>
        </form>
    </div>

{% endblock %}
