{% extends "template.php.twig" %}

{% block content %}

    <div class="mt-5 col-xl-5 col-lg-5 col-md-8 col-sm-10 mx-auto">
        <h2 class="text-center">Create a new topic</h2>
        <br>
        <form class="needs-validation" action="{{ route('topic.store') }}" method="post">
            {{ method('PUT') }}
            <div class="mb-3">
                <label for="topicName" id="topicName"><b>Enter a Topic Name:</b></label>
                <input type="text" class="form-control" name="title" placeholder="Enter Topic Name" required>
                <br>

                <label for="docTag"><b>DocTag Select:</b></label>
                <select class="form-control" id="docTag" name="doctag" required>
                <option selected disabled hidden value>--Choose from the dropdown</option>

                    {% for doctag in doctags %}
                        <option value="{{ doctag.Id }}">{{ doctag.Title }}</option>
                    {% endfor %}

                </select>

                <br>
                <label for="topic-content"><b>Topic Content:</b></label>
                <textarea class="form-control" id="topic-content" rows="3" name="content"
                          placeholder="Enter Topic Content" required></textarea>

                <br>
                <button class="btn btn-dark" onclick="history.go(-1);"> &#8592; Back</button>
                <input type="submit" class="btn btn-primary float-right" value="Submit &#8594;">
            </div>
        </form>
    </div>

{% endblock %}
